// colori
$white : #ffff;
$dirtyWhite: #fff9f5;
$purple: #311852;
$blue: #4D36DC;
$pink: #ffdfed;
$orange: #ff7a1f;
$lightGray: #f7f0ff;
$gray: #8d829c;
$lightPurple: #a616ea;
$darkPurple:#260458;

// time
$duration:1.3s;
// position 
$posabsolute:absolute;





